.contenedor{
    font-size:13px;
    font-family:Arial, sanserif;
}
table.tabla{
     page-break-after:auto;
     width: 100%;
}
td{
     page-break-inside:avoid;
     page-break-after:auto;
     font-size:13px;
     vertical-align: middle;
}
tr{
     page-break-inside:avoid;
     page-break-after:auto;
     vertical-align: middle;
}
th{
    font-size:13px;
    vertical-align: middle;
}
tfoot{
    display:table-footer-group
}
thead{
    display:table-header-group;
}